@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #FAF9F7;
    margin: 1em;
}

.container {
    margin: 1em;
    padding: 0;
}

.nav {
    float: right;
    margin: 0 0 0 0px;
}

.nav a {
    margin: 0 0 0 16px;
    padding-right: 16px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#intro {
    padding: 4em 0em 4em 0em;
}

.testimonial-section h3 {
    padding: 1em;
}

.testimonial-section p {
    padding: 1em;
}

.rounded-circle {
    padding: 1em;
}

h1 {
    font-family: "Playfair Display", serif;
    color: black;
}

h2 {
    font-family: "Playfair Display", serif;
    color: black;
}

h3 {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 1.5em;
}

p {
    color: black;
    font-family: "Arial";

}

div {
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    background-color: #EDE6DE;
    height: 100px;
    display: block;
    align-items: flex-start;
}

footer a {
    margin: 0 32px 0 32px;
}

img {
    height: auto;
}

.logo {
    float: left;
}

.logo img {
    height: 100%;
    width: 50%;
}

a {
    color: black;
}

a:hover {
    color: brown;
}

.work {
    background-color: #652005;
    color: white;
    height: 50px;
    width: 200px;
}

.servicescontainer {
    display: flexbox;
}

#brandingcard {
    flex: 1;
}


#websitecard {
    flex: 1;
}

#uxcard {
    flex: 1;
}

.parallax {
    /* The image used */
    background-image: url("Website+Mockup+Banner.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax p {
    line-height: normal;
    vertical-align: middle;
}

#work-mockups img {
    width: 300px;
}

#testimonial-container {
    border: 2px solid tan;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    text-align: center;
}